:root {
      /* Color palette */
    --green: #999E72;
    --red: #AD3428;

    --green-light: #BCC293;
    --green-dark: #859033;
    --green-olive: #807B55; /* for side shopping cart */
    
    --brown: #6B4E20;

    --white: #ffffff;
    --light-grey: #DEE0C9; /* for search bar */

    /* Links */
    --color-link: #6B4E20;
    --color-visited-link: #ffffff; 

    /* Buttons */
    --color-hover: #ffffff;
    --color-active: #ffffff;
    --color-hover-text: #999E72;


}


