/* GENERAL */

.title{
    font-size: 1.5em;
    font-family: Nerko One;
    text-align: center;
}

.button{
    font-family: Maven Pro;
    font-size: 1em;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #AD3428;
    color: #ffffff;
    border: none;
    max-width: fit-content;
    align-self: center;
}

.button:hover{
    background-color: #ffffff;
    color: #999E72;
}

.heading{
    font-size: 2em;
    font-family: Nerko One;
    text-align: center;
}

.heading2{
    font-size: 1.75em;
    font-family: Nerko One;
    text-align: center;
}

.heading3{
    font-size: 1em;
    font-family: Maven Pro;
    text-align: center;
}

.heading4{
    font-size: 1em;
    font-family: Maven Pro;
    text-align: center;
    font-weight: 50%;
}

.heading5{
    font-size: 0.8em;
    font-family: Maven Pro;
    text-align: center;
    font-weight: 50%;
}

.heading6{
    font-size: 0.6em;
    font-family: Maven Pro;
    text-align: center;
    font-weight: 25%;
}

/* SECTIONS */

/* header */
.menu{
    background-color: #999E72;
    display: flex;
    justify-content: center;
}

.searchbar{
    display: flex;
    justify-content: center;
    background-color: #DEE0C9;
    color: #6B4E20;
    border: none;
    width: 100%;
}

/* main */
.shopNow{
    background-color: grey; /* placeholder for image*/
    display: flex;
    justify-content: center;
}

.bestsellers{
    background-color: #BCC293;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote{
    background-color: grey;
    display: flex;
    justify-content: center;
}

.newReleases{
    background-color: #859033;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUp{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */
.footer{
    background-color: #999E72;
    display: flex;
    justify-content: center;
}