/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@import url('colours.css');
@import url('typography.css');

/* UTILITY CLASSES */

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-align {
    text-align: left;
  }

.nerko-one {
    font-family: Nerko One;
}

.wider-letter-spacing {
    letter-spacing: 0.125rem;
  }

.margin-top {
    margin-top: var(--spacing-lg);
}

/* GENERAL */

.title{
    font-size: var(--text-lg);
    font-family: Nerko One;
    color: var(--white);
    padding: 0;
    margin: var(--spacing-xxxs) var(--spacing-xxs) var(--spacing-xxs) var(--spacing-xxs);
}

.button{
    font-size: var(--text-md);
    font-family: Maven Pro;
    font-weight: bold;
    text-decoration: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: 50px;
    margin: var(--spacing-lg);
    background-color: var(--red);
    color: var(--white);
    max-width: fit-content;
    align-self: center;
    cursor: pointer;
    text-transform: uppercase;
}

.button--hero-banner{
    margin-bottom: 5rem;
}

.button--small{
    font-size: var(--text-sm);
    margin: var(--spacing-sm);
}

.button:hover{
    background-color: var(--white);
    color: var(--green);
}

.button-counter{
    border-color: var(--white);
    background-color: rgba(var(--white), 0.5); /* this does not work */
}

.close-button{
    position: fixed;
    right: var(--spacing-sm);
    padding: var(--spacing-sm);
    font-size: var(--text-lg);
    color: var(--white);
}

.icon{
    width: 1.5em;
    height: auto;
    cursor: pointer;
}

.icon:not(.icon--logo):hover {
    transform: scale(1.2);
  }

.icon--heart{
    width: 1.5em;
    height: auto;
    transform: scale(1.1);
  }

.icon--logo{
    margin-top: 0.75rem;
}

h1{
    font-size: var(--text-xxxl);
    font-family: Nerko One;
    text-align: center;
}

h2{
    font-size: var(--text-xxl);
    font-family: Nerko One;
    text-align: center;
}

h3{
    font-size: var(--text-xl);
    font-family: Maven Pro;
    text-align: center;
}

h4{
    font-size: var(--text-lg);
    font-family: Maven Pro;
    text-align: center;
}

h5{
    font-size: var(--text-md);
    font-family: Maven Pro;
    text-align: center;
}

h6{
    font-size: var(--text-sm);
    font-family: Maven Pro;
    text-align: center;
}

p{
    font-size: var(--text-xs);
    font-family: Maven Pro; 
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-visited-link);
  }

/* HOMEPAGE */

/* header */
.nav{
    background-color: var(--green);
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 9998;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 var(--spacing-md);
}

li{
    display: flex;
    align-items: center;
}

.searchbar{
    background-color: var(--light-grey);
    position: fixed;
    background-image: url("Images/icons/Search.svg");
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    opacity: 0.5;
    height: 1.5rem;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--green-olive);
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    padding: var(--spacing-lg);
    transition: 0.5s ease-in;
    display: none;
}

.menu .close-button{
    align-self: flex-end;
}

.menu a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--text-md);
    display: block;
    padding: var(--spacing-sm);
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--green-olive);
    height: 100vh;
    z-index: 9999;
    top: 0;
    right: 0;
    position: fixed;
    overflow-x: hidden;
    padding: var(--spacing-lg) var(--spacing-xl);
    transition: 0.5s ease-in;
    display: none;
}

.cart h1{
    font-size: var(--spacing-lg);
    color: var(--white);
    padding: var(--spacing-xxxs) 0;
}

.cart-top{
    display: flex;
    justify-content: space-between;
}

.cart .shopping__books-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.cart .shopping__product-card{
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.cart .shopping__product-card__image{
    width: 6em;
    height: 9em;
}

.cart .shopping__product-card__content{
    padding-left: var(--spacing-md);
}

.cart .shopping__product-card__content h6{
    text-align: left;
    color: var(--white);
}

.cart .close-button{
    color: none;
}

/* main */
body{
    width: 100%;
    padding-top: 1.5rem;
    overscroll-behavior: none;
}

.hero-banner{
    background-image: url("Images/hero-banner.jpg"); 
    background-attachment: scroll;
    background-size: cover;
    background-position: center 50%; 
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    align-items: center;  
}

.hero-banner--image2 {
    background-image: url("Images/hero-banner-2.jpg"); 
    background-color: var(--brown);
    opacity: 0.8;
    color: var(--white);
    justify-content: center;
    height: 75vh;
    text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

}

.hero-banner--image3 {
    background-image: url("Images/hero-banner-3.jpg"); 
    background-color: var(--brown);
    opacity: 0.8;
    color: var(--white);
    justify-content: center;
    height: 35rem;
    text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.hero-banner--image3 h4{
    font-weight: bold;
}

.hero-banner--image3 .icon{
    width: 3em;
    height: auto;
    padding: var(--spacing-md)
}

.bestsellers{
    color: var(--brown);
    background-color: var(--green-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-xl) 0 var(--spacing-md) 0;
}

.books-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--spacing-lg) var(--spacing-xl) var(--spacing-xxxs) var(--spacing-xl);
    color: var(--brown);
}

.books-block--white{
    color: var(--white);
}

.scroll-arrow {
    color: var(--brown);
    background: none;
    border: none;
    font-size: var(--text-xl);
    font-family: Nerko One;
    cursor: pointer;
    margin: var(--spacing-sm) var(--spacing-sm);
  }

.scroll-arrow--white {
    color: var(--white);
}

.product-card{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-md);
}

.product-card__image{
    width: 12.5rem;
    box-shadow: 0.4rem 0.4rem 0.25rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-card__image--large{
    width: 16rem;
    height: 24rem;
}

.product-card__image:hover {
    transform: scale(1.1);
  }

.product-card__content{
    text-align: center; 
    margin: var(--spacing-lg) var(--spacing-sm);
    cursor: pointer;
}

.product-card h5:first-child{
font-weight: bold;
}

.new-releases{
    color: var(--white);
    background-color: var(--green-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-xl) 0 var(--spacing-md) 0;
}

.sign-up{
    color: var(--white);
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */
.footer{
    color: var(--white);
    background-color: var(--green);
    display: flex;
    justify-content: center;
    padding: var(--spacing-lg);
}

/* SHOPPING PAGE */

.shopping{
    display: flex;
    flex-direction: column;
    background-color: var(--green-light);
    padding: var(--spacing-xxl) var(--spacing-xxl) var(--spacing-xl) var(--spacing-xxl);
}

.shopping__top{
    display: flex;
    justify-content: space-between;
    color: var(--brown);
    margin: var(--spacing-lg) 0;
}

.shopping__top .icon{
    width: 2em;
    height: auto;
}

.shopping__books-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--brown);
}

.shopping__product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin: var(--spacing-md) var(--spacing-xl) var(--spacing-lg) 0;
}

.shopping__product-card__image{
    width: 10em;
    height: 15em;
    box-shadow: 0.4rem 0.4rem 0.25rem rgba(0, 0, 0, 0.1);
}

.shopping__product-card__content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: var(--spacing-sm) 0 var(--spacing-xxxs) 0;
}

.shopping__product-card h6:first-child{
    font-weight: bold;
}

.shopping__product-card h6:last-child{
    font-weight: bold;
}

.shopping__product-card__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-xl);
}

.shopping__bottom .icon{
    height: 2em;
    width: auto;
}

/* PRODUCT PAGE */

.product{
    display: flex;
    flex-direction: column;
    background-color: var(--green-light);
    padding: var(--spacing-xxl);
    text-align: left;
    color: var(--brown);
}

.product-block{
    display: flex;
    flex-direction: row;
    margin: var(--spacing-lg);
}

.product__product-card__image{
    width: 30rem;
    box-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
}

.product__product-card__content{
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-xl);
    align-items: space-between;
}

.product__product-card__content > * + *{
    margin-top: var(--spacing-xxs);
}

.product__product-card__content :nth-child(3) {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
  }

.product__product-card__content > :nth-last-child(-n+3) { /* quantity and add to cart buttons */ 
    margin-left: auto;
}

.book-description h6 {
    font-size: 1rem;
    line-height: 130%;
}

.book-description > * + *{
    margin-top: var(--spacing-sm);
}

.book-info > * + *{
    margin-top: var(--spacing-xxs);
}

  .label {
    font-weight: bold;
  }

  .product-count {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-md);
  }

  
  .quantity-input {
    width: auto;
    text-align: center;
    font-family: Maven Pro;
    background-color: var(--green-light);
    color: var(--white);
    border: 1px solid var(--white);
    padding: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    margin: var(--spacing-xl) var(--spacing-md);
  }
  

  /* CHECKOUT */
  .checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--green-light);
    padding: var(--spacing-xxl) var(--spacing-xxl) var(--spacing-xl) var(--spacing-xxl);
  }

  .user-info{
    display: flex;
    flex-direction: column;
  }
  
  .payment-form {
    margin-top: var(--spacing-sm);
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: var(--spacing-sm);
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
  }